<div class="container">
  <div class="row d-flex">
    <div class="col-8 col-md-8 col-sm-12 col-xs-12">
      Board
      <div class="box-wrapper">

        <div *ngFor="let metric of game.matrics.reverse()" class="box-white">
          {{metric.position}} {{metric.description}}
        </div>
      </div>

    </div>
    <div class="col-4 col-md-4 col-sm-4 d-xs-none">
      Score
      <div class="col-12">
        Your turn 
        username !!
      </div>
      <div class="col-12">
        <ul>
          <div *ngFor="let stats of gameStats">
            <div *ngIf="stats.metaDescription !== ''">
              {{stats.metaDescription}}
            </div>
          </div>
        </ul>
      </div>

      <div class="col-12">
        <div class="players">
          <div class="player" *ngFor="let player of players">{{player.playerName}}</div>
        </div>
      </div>

      <div class="col-12">
        <div>Dice Score: {{diceScore}}</div>
        <div class="dice">
          <button class="btn btn-light" (click)="doYourTurn()">Random Dice</button>
        </div>
        
      </div>
    </div>
  </div>
</div>